Source: libpve-http-server-perl
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 9),
               perl (>= 5.10.0-19),
               unzip,
Standards-Version: 4.3.0
Homepage: https://www.proxmox.com

Package: libpve-http-server-perl
Architecture: all
Depends: libanyevent-http-perl,
         libanyevent-perl (>= 7.140-3),
         libcrypt-ssleay-perl,
         libhtml-parser-perl,
         libhttp-date-perl,
         libhttp-message-perl,
         libio-socket-ssl-perl,
         libjs-jquery,
         libjs-bootstrap,
         libjson-perl,
         libnet-ip-perl,
         libpve-common-perl,
         liburi-perl,
         ${perl:Depends},
Description: Proxmox Asynchrounous HTTP Server Implementation
 This is used to implement the PVE REST API.
